<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="styles.css">
    <title>Book of Mormon Matching Game</title>
</head>

<body>
    <div class="largeContainer">
        <div id="app">
            <div>
                <h1>Book of Mormon Matching Game</h1>
                <p>Click on a card to start matching!</p>
                <div class="game">
                    <h3>Game Type</h3>
                    <button @click="setGameType('scriptureMastery')">Scripture Mastery</button>
                    <button @click="setGameType('places')">Places</button>
                    <button @click="setGameType('people')">People</button>
                </div>
                <div class="game">
                    <h3>Game Difficulty</h3>
                    <button @click="setGameDifficulty('Easy')">Easy</button>
                    <button @click="setGameDifficulty('Hard')">Hard</button>
                </div>
            </div>
            <div>
                <div :duration="duration" style="margin-bottom: 1rem">
                    <span class="label">Time Elapsed:</span>
                    <span class="value">{{ duration }} seconds</span>
                </div>
                <div style="margin-bottom: 1rem" :turns="turns">
                    <span class="label">Turns:</span>
                    <span class="value">{{ turns }}</span>
                </div>
            </div>

            <div class="cards">
                <div class="card cardFlip" v-for="card in cards" :class="cardClasses[card.topic]" @click="flipCard(card)">
                    <div v-if="!card.flipped">
                        <div class="back"></div>
                    </div>
                    <div v-else>
                        <div class="front" :card.content="card.content">{{card.content}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="/game.js"></script>
</body>

</html>