.generalPageWrapper {
    /* aesthetics */
    border-width: 2px;
    height: 100vh;
    background-color: #191C23;

    /* grid settings */
    display: grid;
    grid-template:
        minmax(5%, 1fr) 
        minmax(80%, 90%) 
        minmax(5%, 1fr) 
        / minmax(5%, 1fr) minmax(80%, 90%) minmax(5%, 1fr);
    justify-items: center;
    align-items: center;
}

/*headers*/
h1 {
    margin-top: 2rem;
}

button {
    margin-top: 0;
}

body {
    color: #8A96A3;
    background-color: #191C23;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#app {
    grid-column-start: 2;
    grid-row-start: 2;
    height: 100%;
    width: 100%;
}

.cards {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* Flip animations */

.cardFlip {
    transition: ease-in 300ms;
    transform-style: preserve-3d;
    position: relative;
    display: inline-block;
    width: 78%;
    height: 100%;
}

.reveal-answer {
    transform: rotateX(180deg);
}

/* Card Attributes */

.card {
    height: 150px;
    width: 100px;
    margin: 1rem;
}

.front, .back {
    border-radius: 5px;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    width: 100%;
    height: 100%;
    background-color: White;		
    
    @include backface-visibility(hidden);
    @include transform(translateZ(0));
    @include transition(transform 0.6s);
    @include transform-style(preserve-3d);
}

.back {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/102308/card_backside.jpg');
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 12px;
}

.front {    
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;			
}

/*Footer Styling*/
footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: #8A96A3;
}

a {
    color: #6F777D;
    text-decoration: none;
}

/* CSS Grid Layout */

.container {
    background-color: transparent;
    grid-column-start: 2;
    grid-row-start: 2;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto auto;
}